.transition-fade {
  /* opacity:1; */
  transition:.75s;
  top:0;
  transform:translateX(0);
  /* left:100%; */
  /* transform-origin:left; */
}
html.is-animating .transition-fade {
  /* opacity: 0; */
  /* transform:left(100%); */
  /* left:100%; */
  transform:translateX(100%);
}
html.is-leaving .transition-fade {
  /* opacity: 0; */
  /* transform:left(300px); */
  /* left:100%; */
  transform:translateX(100%);

}

/* width */
::-webkit-scrollbar {
  margin: 0;
  width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(50, 50, 50, 0.5);
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(50, 50, 50, 0.75);
}

.fullscr {
  position: fixed;
  padding: 0;
  margin: 0;
  top:0;
  left:0;
  width:100%;
  height:100%;
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  user-select:none;
}


.Panel {
  position:fixed;
  top:0;
  height:100%;
  overflow-y:overlay;
  overflow-x:hidden;
}
.SidePanel {
  position:fixed;
  left:0;
  transition:.5s;
  width:300px;
  height:100%;
}


#sidemenu a:not(.closebtn) {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-family: 'Trebuchet MS';
  font-size: 20px;
  color: #b7b7b785;
  display: block;
  transition: 0.2s;
}
#sidemenu a:hover {
  color: #b7b7b7c5;
  font-size: 22px;
  transition: 0.2s;
}
#sidemenu a.active {
  color: #b7b7b7e2;
  font-size: 23px;
  /* transition: 0.2s; */
}


#gallery {
  line-height:0;
  -webkit-column-count:3; /* split it into 5 columns */
  -webkit-column-gap:15px; /* give it a 5px gap between columns */
  -moz-column-count:3;
  -moz-column-gap:15px;
  column-count:3;
  column-gap:15px;
  margin:20px;
}
#gallery img {
  border:.2rem solid rgb(0 0 0 / 25%);
  position:relative;
  z-index:0;
  transition:.5s;
  margin:15px;
  margin-left:5px;
  width: 100% !important;
  height: auto !important;
  margin-top:0; /* to match column gap */
}
#gallery img:hover {
  z-index:1;
  transition:.5s;
  /* padding:5px; */
  width: 110% !important;
  /* animation-duration:.5s;
  animation:pulse; */
}

/* @keyframes pulse {
  from, to {
    padding:10px;
  }
  50% {
    padding:12px;
  }
} */



@media (max-width: 1200px) {
  #gallery {
   -moz-column-count: 2;
   -webkit-column-count: 2;
   column-count: 2;
  }
}
@media (max-width: 1000px) {
  #gallery {
   -moz-column-count: 1;
   -webkit-column-count: 1;
   column-count: 1;
  }
}

/* @media (max-width: 800px) {
  #gallery {
   -moz-column-count: 1;
   -webkit-column-count: 1;
   column-count: 1;
  }
} */

/* @media (max-width: 400px) {
  #gallery {
   -moz-column-count: 1;
   -webkit-column-count: 1;
   column-count: 1;
  }
} */