/* width */
::-webkit-scrollbar {
  margin: 0;
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(50, 50, 50, 0.5);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(50, 50, 50, 0.75);
}

body{
  overflow-y:hidden;
}

div {
  /* margin: 0;
  padding: 0; */
}